# @paralenz/colors
Colors used by the Paralenz development team

## Installation
Yarn:
```sh
yarn add @paralenz/colors
```
npm:
```sh
npm install @paralenz/colors
```

## Prerequisites
You will need to have a `.npmrc` file in your project that tells npm to use the github package registry
```sh
echo "@paralenz:registry=https://npm.pkg.github.com/" > .npmrc
```

## Colors
%colors%